matplotlib>=3.5.3
numpy>=1.23.1
opencv-python>=4.6.0.66
typing-extensions>=4.3.0

# testing tools
pytest>=7.1.3
coverage>=6.5.0

# streamlit tools
streamlit==1.13.0
extra-streamlit-components==0.1.56
